$grey: #fafafa;

$violet-light: #ecf2fe;
$violet: #d9d7ec;
$violet-dark: #484476;

$blue-light: #e0f7fd;
$blue-light-2: #b9dde4;
$blue: #0770f4;
$blue-dark: #004dff;

$green-light: #c7ffe2;
$green: #01c263;

$red: #f00;

// Font sizes
$h2-font-size: 2.5em;
